@mixin font-main($size, $color, $weight, $lh: normal, $ls: normal) {
  font: {
    family: 'Space Mono', Helvetica, Arial, sans-serif;
    size: $size;
    weight: $weight;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin hover {
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin shadow {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
