$color-white: #fff;
$color-light-grey: #f6f8ff;
$color-grey: #697c9a;
$color-dark-grey: #2b3442;
$color-light-blue: #0079ff;
$color-blue: #4b6a9b;
$color-dark-blue: #1e2a47;
$color-very-dark-blue: #141d2f;
$color-red: #f74646;

$base-width: 782px;
