@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  max-width: 100%;
  padding: 24px 128px 25px 67px;
  border: none;
  border-radius: 15px;
  @include font-main($textM, $color-dark-grey, 400);
  background:
    url('../../../shared/ui/assets/icons/icon-search.svg') 14px center/ 25px
      no-repeat,
    $color-white;
  @include shadow;

  &::placeholder {
    color: $color-dark-grey;
  }

  &[type='search']::-webkit-search-cancel-button {
    display: none;
    appearance: none;
  }

  &:disabled {
    opacity: 0.4;
  }

  @media screen and (max-width: 580px) {
    padding: 22px 104px 20px 48px;
    background-position: 10px center;
    font-size: $textXXS;
  }
}

.inputDark {
  background-color: $color-dark-blue;
  box-shadow: unset;
  color: $color-white;

  &::placeholder {
    color: $color-white;
  }
}

.button {
  position: absolute;
  top: 12px;
  right: 14px;

  @media screen and (max-width: 580px) {
    top: 9px;
    right: 10px;
  }
}
