@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.app {
  max-width: 100vw;
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  background-color: $color-light-grey;
}

.appDark {
  background-color: $color-very-dark-blue;
}

.main {
  max-width: $base-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (max-width: 410px) {
    padding-right: 28px;
    padding-left: 28px;
    gap: 16px;
  }
}

.notFound {
  margin: 40px 0 0;
  @include font-main(24px, $color-dark-grey, 700);
  text-align: center;
}

.notFoundDark {
  color: $color-white;
}
